.cuerpo {
    background-color: #e6d4f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5e248a;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
    font-weight: bold;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
aside {
    width: 30%;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
aside img {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 65%;
}
.hdos{
    color: #5f1299;
}
.hcinco{
    color: #5f1299;
}
.bold{
    color: #5e248a;
}
.card {
    width: 18rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.7s ease, box-shadow 0.7s ease;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 2px solid #0d2c52;
}
.card-body {
    padding: 15px;
    text-align: center;
}
.video-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
video {
    width: 50%;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
footer {
    background-color: #5e248a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}